<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Model</title>
</head>
<body>
@model string[]

<h2>Here are some messages for you!</h2>
@foreach(var message in Model){
    <p>@message</p>
}
</body>
</html>