<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
@using ModelFun.Models
@model List<User>
<h1>Users!</h1>
@foreach(var user in Model)
{<p>@user.firstName @user.lastName</p>}

</body>
</html>